@import 'tailwindcss';

/* Ensure Tailwind scans Angular templates/components */
@source "./app/**/*.{html,ts}";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
